
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rootypatooty {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 50px; /* Adjust width as necessary, make sure it's fixed */
  background-color: #fff;
  height: 100vh; /* Full height */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.content {
  flex-grow: 1; /* Takes the remaining space */
  padding: 20px; /* Add padding as necessary */
  overflow: hidden;
}
